site_name: Selfservice
site_url: https://peterkrijgsman85.github.io/docs-lantelcloud/

extra_css:
  - stylesheets/extra.css

theme:
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil 
    view: material/eye
  logo: assets/logo.png
  favicon: assets/favicon.png
  name: material
  features:
    - content.action.edit
    - navigation.path 
    - navigation.indexes
    - navigation.top
    - navigation.footer
    - navigation.tracking
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - toc.follow
    - search.suggest
    - search.highligt
    - content.tabs.link
    - content.code.annotatioin
    - content.code.copy
    - header.autohide
  language: nl
  palette:
      # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-4
        name: Automatisch
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/weather-sunny
        name: Lichte modus
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Donkere modus


extra:
  social:
    - icon: material/web
      link: https://lantel.nl
  consent:
    title: LanTel maakt gebruik van cookies.
    description: >-
        Helaas ontkomen ook wij niet aan een cookiemelding. Wij maken gebruik van cookies om jouw bezoek aan onze website zo soepel mogelijk te laten verlopen en voor eventuele marketing doeleinden. Uiteraard gaan wij met vertrouwen om met je informatie. Hierover lees je meer in ons privacy statement. 
    actions:
      - accept
  analytics:
    provider: google
    property: G-DE0YSHKLFH
    feedback:
      title: Heeft deze pagina je geholpen?
      ratings:
        - icon: material/emoticon-happy-outline
          name: Deze pagina bevat nuttige informatie
          data: 1
          note: >-
            Bedankt voor je feedback!
        - icon: material/emoticon-sad-outline
          name: Deze pagina kan worden verbetert
          data: 0
          note: >- 
            Bedankt voor je feedback!

markdown_extensions:
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji 
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      linenums: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - footnotes
  - attr_list
  - md_in_html
  - toc:
      permalink: true

copyright: |
  &copy; 2024 <a href="https://lantel.nl" target="_blank" rel="noopener">LanTel<a>

plugins:
  - git-revision-date-localized:
      enable_creation_date: true
  - search


repo_url: https://github.com/Peterkrijgsman85/docs-lantelcloud
edit_uri: edit/main/docs/
repo_name: docs-lantelcloud