[data-md-color-scheme="default"] {
  --md-primary-fg-color:        #023e84;
  --md-primary-fg-color--light: #023e84;
  --md-primary-fg-color--dark:  #023e84;
  --md-accent-fg-color:         #023e84;
  --md-nav__link--active-color: #f5f5f5;
  --md-nav__link--active-border-color: #f5f5f5;
}
[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #023e84;
  --md-primary-fg-color--light: #023e84;
  --md-primary-fg-color--dark:  #023e84;
  --md-accent-fg-color:         #023e84;
  --md-nav__link--active-color: #272a35;
  --md-nav__link--active-border-color: #272a35;
}

.md-nav__link--active {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--md-nav__link--active-color);
  border: 2px solid var(--md-nav__link--active-border-color);
}


.md-nav__list {
  padding: 10px;
}