[data-md-color-scheme="default"] {
  --md-primary-fg-color:        #023e84;
  --md-primary-fg-color--light: #023e84;
  --md-primary-fg-color--dark:  #023e84;
  --md-accent-fg-color:         #023e84;
  --md-nav__link--active-color: #eeeeee;
  --md-nav__link--active-border-color: #023e84
}
[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #023e84;
  --md-primary-fg-color--light: #023e84;
  --md-primary-fg-color--dark:  #023e84;
  --md-accent-fg-color:         #023e84;
  --md-nav__link--active-color: #555555;
  --md-nav__link--active-border-color: #023e84;
}

.md-nav__link--active {
  background-color: #var(md-nav__link--active-color);
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #var(md-nav__link--active-border-color);
}


.md-nav__list {
  padding: 10px;
}